body {
    font-family: 'ABeeZee', sans-serif;
}

.menu{
    background-color:#e0e9d8;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.lista-menu {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 408px;
}

li {
    list-style: none;
}

.menu a{
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #46523e;
text-decoration: none;
}

.foto {
 box-shadow: 0 0 20px rgba(54, 61, 44, 0.63);
 border-radius: 3%;
 width: 198px;
}

.intro-content {
    background-color: #e0e9d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
}

.intro-content hr {
    width: 100%;
}

.title{
    font-family: 'ABeeZee', sans-serif;
    font-weight: 700px;
    font-size: 36px;
    color:black;
}

.subtitle{
    font-family: 'ABeeZee', sans-serif;
    font-size: 25px;
    color: #2929297a;

}

.intro{
    color: #000000;
    font-size: 18px;
    display: flex;
    text-align: justify;
    font-family: unset;
    width: 1038px;
}

.intro-content div {
    min-width: 64%;
}

section h1 {      
font-size: 24px;
color: #155a53;
margin-right: 50px;
}

.conteudo {
    display: flex;
    max-width: 1041px;
    margin: 0 auto; 
    padding: 30px 0;
}

#portfolio {
    background-color:#e0e9d8;
}

.descricao {
    font-size: 16px;
    line-height: 22px;
    color: #5c5a5a;
    font-weight: 700;

}


#contato {
    background-color: #638165;
    height: 31px;
    padding-left: 51px;
    padding-top: 29px;
    padding-bottom: 18px;
    display: flex;
    justify-content: space-between;

}

#contato a {
    color: #ffffff;
    text-decoration: none;
}