body {
    font-family: 'ABeeZee', sans-serif;
    background-color: #fff;
}

.flex-container{ /*estilo do container*/  
    width: 1400px;
    display: flex;
    margin:auto;
}

.align-container{
    align-items: center;
}

.menu{ /*estilo do container*/
    background-color:#e0e9d8;
    display: flex;
    justify-content: flex-end;
    width: 1400px;
}

.lista-menu { /*estilo do container*/
    display: flex;
    padding: 20px;
    justify-content: space-between;
    width: 408px;
}


li { /*estilo do link do menu*/
    list-style: none;
}

.menu a{ /*estilo link do menu*/
font-weight: 700;
font-size: 18px;
line-height: 25px;
color: #46523e;
text-decoration: none;
}

.intro-content {
    background-color: #e0e9d8;
    display: flex;
    padding: 0 235px;
    width:1400px;
}

.foto {
    width: 215px; /*tamanho da foto*/
}

.title{
    font-family: 'Arima', cursive;
    font-size: 40px;
    color:black;
}
.subtitle{
    font-family: 'Arima', cursive;
    font-size: 33px;
    color: #16625b;

}

.intro-content hr { /*tamanho da underline*/
    width: 710px;
}

.conteudo { /*estilização do conteúdo*/
    display: flex;
    max-width: 1280px;
    margin: 0 auto; 
    text-align: justify;
    font-size:16px;
}

.descricao {
    font-size: 18px;
    line-height: 22px;
    color: #46523e;
}

section h1 {      
    font-size: 24px;
    color: #46523e;
    margin-right:50px;
}
    
.cards-container {
    flex-wrap: wrap;
    display: flex;
}

.conteudo2 {
    background-color:#e0e9d9;
    width: 305px;
    margin: 0 0 0px 30px;
    padding: 36px;
}

.foto2 {
    width: 145px; /*tamanho da foto*/
}

#portfolio {
    background-color:#e0e9d8;
}

#contato {
    background-color: #638165;
    height: 26px;
    padding-top: 28px;
    padding-bottom: 22px;
    display: flex;
    justify-content: space-around;
    font-size: 16px;

}

#contato a {
    color: #ffffff;
    text-decoration: none;
}
